<h1>Raad het getal!</h1>

<p>Raad een getal tussen 1 en 100.</p>

<form #guessForm="ngForm" (ngSubmit)="onSubmit(guessForm.value)">
  <div>
    <label for="guess">Doe een gok </label>
    <input [disabled]="hideInputGuess" type="text" name="guess" [(ngModel)]="inputGuess">
    <button [disabled]="hideButtonGuess" type="submit">Gok</button>
  </div>
</form>

<p>Nog {{turn}} beurten over!</p>

<p>{{result}}</p>

<p>Vorige gok: {{choices}}</p>

<button [hidden]="hideButtonReset" (click)="resetGame()">Begin opnieuw</button>

<!--<p>Te raden getal= {{randomNumber}}</p>-->